*.swo
*.swp
*.zip
.bash_aliases
.jira-cli/
.vim/autoload/airline/
.vim/bundle
.vim/coc-settings.json
.vim/pack/coc
.vim/spell
.vim/pack/plugins/start
.zsh_aliases
LanguageTool-5.2.zip
LanguageTool-5.2/
iterm2/com.googlecode.iterm2.plist*
secrets/
tags
