*.swo
*.swp
*.zip
.bash_aliases
.jira-cli/**
.vim/**
wikipedia2text/
wikipedia2text/**
bin/wp2t
LanguageTool-5.2.zip
LanguageTool-5.2/**
iterm2/com.googlecode.iterm2.plist*
secrets/**
SECRETS/**
.SECRETS_BACKUP/
.SECRETS_BACKUP/**
tags
LanguageTool
hqconfig/explainshell/explainshell
hqconfig/pihole/etc-dnsmasq.d
hqconfig/pihole/etc-pihole
bin/trams
hqconfig
hqconfig/
hqconfig/**
textidote.jar

